.container{
    margin: 180px 0 0 180px;
}
body{
    background-color: #ddd3d3;
}
.row{
    width: 100%;
    height: 60px;
}
.one,.two,.three,.four,.five{
    margin: 10px 0 0 0;
}
button{
    color: black;
    width: 55px;
    height: 55px;
    border: rgb(232, 17, 17);
    border-radius: 20%;
    background: rgb(252, 252, 250);
    box-shadow: 5px 5px 10px black,5px -5px 10px white;
    font-size: 20px;
    margin-left: 5px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
button:active{
    box-shadow: 1px 1px 2px white,-1px -1px 2px black;
}
.backspace{
    width: 110px;
    border-radius: 10%;
}
.sem{
    width: 45px;
}
.tab{
    width: 75px;
}
.slash{
    width: 80px;
}
.caps{
    width: 90px;
}
.enter{
    width: 130px;
    border-radius: 10%;
}
.shift1{
    width: 125px;
    border-radius: 10%; 
}
.shift2{
    width: 160px;
    border-radius: 10%;
}
.space{
    width: 425px;
    border-radius: 5%;
}